header
{
	background-color: grey;
	height: 200px;
}
body,html
{
	height: 100%;
}

body
{
	text-align: center;
	background-size: 100%
}

.subtitle
{
	height:200px;
	background-color: lightgrey;
}

.main
{
	/* principal conteneur margin et padding */
}

.wrapper
{
	padding : 2em;
	display:grid;
	grid-template-columns: 90% 10%;
	grid-column-gap: 2em;
	width:90%;
}

.conteneurliste
{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	width:80%;
	background-color: rgba(250,250,250,180);
}

.article_style
{
	display:flex;
	flex-direction:column;
}