{% extends 'base.html.twig' %}

{% block title %}{{ article.titre}}
{% endblock %}

{% block subtitle %}
	<div class="subtitle">
		<div class="article_title"><h2>{{ article.titre}}</h2></div>
		<div class="article_date">{{ article.date|date("d/m/y")}}</div>
	</div>
{% endblock %}

{% block content %}
	<div class="article_content">{{ article.contenu|raw }}</div>
{% endblock %}

{% block pagination %}
	<div class="pagination">
		<a href="#"> << Précedent</a>
		<a href="path('home')">Retourner à la page accueil</a>
		<a href="#">Suivant >></a>
	</div>
{% endblock %}