{% extends 'base.html.twig' %}

{% block title %}Titre des articles enregistrés{% endblock %}

{# voici une liste de tableaux dans articles, fais ce que tu veux avec #}

{% block content %}
	{% if articles is empty %}
		<p>Reviens plus tard, il n'y a rien.</p>
	{% else %}
	{% for article in articles %}
			<section>
			<div class="conteneurliste">
				<div class="article_style">
					<h2>{{ article.titre}}</h2>
					<article>
					<div>
						{{ article.contenu|slice(1,100)}}
					</div>
					<div>
						{{ article.date|date("d/m/y")}} 
					</div>
					<a href="{{ path('showArticle',{ articleId : article.id } ) }}">
					Lire plus -></a>
					</article>
				</div>
			</div>
			</section>
	{% endfor %}
	
	{% endif %}
{% endblock %}