<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="/assets/css/yogastyle.css">
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
    <div id ="main">
	    {% block body %}
	    	{% block header %}<header>YOGA BLOG/HEADER</header>{% endblock %}
			<div class="subtitle">
				{% block subtitle %}<nav>A PROPOS DE CE BLOG</nav>{% endblock %}
			</div>
	        <div class="wrapper">
		        <div>{% block content %}{% endblock %}</div>
				<div class="aside">{% block aside %}ASIDE{% endblock %}</div>
		    </div>

		    {% block pagination %}{% endblock %}
		    	{#Add a pagination #}
	    {% endblock %}
	</div>
    </body>
</html>