{% extends 'base.html.twig' %}

{% block pagination %}
	<div class="pagination">
		<a href="#"> << Précedent</a>
		<a href="#">Retourner à la page accueil</a>
		<a href="#">Suivant >></a>
	</div>
{% endblock %}